.venv/
venv/
ENV/
env/
Dependencies
notes.txt
data/
models/
*.pyc
__pycache__/
lbc_article_urls.txt
alManara_urls.txt
961_urs_*.txt
*_articles.jsonl
secrets.env
Debugging/
model2/
models/
secrets.env
web-scraper/
backend/GPT_response.json
